---
title: "Header"
---


<header class="flex flex-row justify-between items-center p-6 mx-auto container">
  <h1 class="text-white font-bold text-lg">Aim Trainer</h1>
  <nav>
    <ul>
    </div>
    </ul>
  </nav>
  <div class="space-x-6">
    <button class="bg-white hover-bg-gray-100 text-gray-800 font-semibold py-2 px-4 border w-36 border-gray-400 rounded shadow">Sign in</button>
    <button class="bg-white hover-bg-gray-100 text-gray-800 font-semibold py-2 px-4 border w-36 border-gray-400 rounded shadow">Play as guest</button>
</header>
